<div class="col-sm-10">
  <span class="sub">British Cambridge © Copyright 2016</span>
  <ul>
    <li><a href="{{site.baseurl}}/copyrights/">Copyrights</a></li>
    <li><a href="{{site.baseurl}}/disclaimer/">Disclaimer</a></li>
    <li><a href="{{site.baseurl}}/privacy/">Privacy Statement</a></li>
    <li><a href="{{site.baseurl}}/terms/">Terms Of Use</a></li>
  </ul>
</div>

<div class="col-sm-2 text-right">
  <ul class="social-icons">
    <li><a href="{{site.baseurl}}/"><i class="icon social_twitter"></i></a></li>
    <li><a href="{{site.baseurl}}/"><i class="icon social_facebook"></i></a></li>
  </ul>
</div>
